<div class="row">
  <div class="col-sm-6" *ngIf="professorSelecionado">

    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Cód. professor:'+ professorSelecionado.id"></app-titulo>
      </div>
      <div class="mt-2">
        <button class="btn btn-warning" > Lista de professores</button>
      </div>
    </div>
   <br>
   <form [formGroup]="professorForm" class="ml-2 col-6">
    <div class="form-group ">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" formControlName="nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Disciplina</label>
      <input type="text" formControlName="disciplina" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group" >
      <hr>
      <button type="submit" class="btn btn-primary mt-2" [disabled]="!professorForm.valid">Enviar</button>
    </div>
  </form>
  </div>

  <div [ngClass]="{'col-sm-6' : professorSelecionado,'col-sm-12 :' : !professorSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark bg-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores" style="cursor: pointer;" (click)="professorSelect(professor)">
          <th scope="row"> {{professor.id}}</th>
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


